.typeahead {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 40rem;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  z-index: 2;
}

.search-input {
  border: 0;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 19px;
  padding-left: 15px;
}

.search-input:focus {
  border: none;
  outline: none;
}

.icon-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper.close {
  background-color: white;
  padding: 0 10px;
}
.icon-wrapper.search {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: red;
  padding: 0 25px;
}

.search-icon {
  height: 25px;
  width: 25px;
  color: white;
}

.close-icon {
  height: 20px;
  width: 20px;
  color: black;
  border-radius: 50%;
  padding: 7px;
}

.close-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*Seach list styles*/
.dark-overlay {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  transition: 1s all linear;
}

.search-list-container {
  height: 40rem;
  width: 40rem;
  background-color: white;
  position: absolute;
  top: 55px;
  transition: 1.2s all linear;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-radius: 5px;
  z-index: 2;
  padding-bottom: 5px;
}

.search-list-movie {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  padding: 5px;
}

.search-list-movie:hover {
  background-color: lightcyan;
}

.search-list-movie.selected {
  background-color: lightgreen;
}

.movie-image-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: fill;
  display: block;
}
.movie-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  gap: 5px;
}
.movie-context .movie-title {
  font-size: 17px;
  font-weight: 700;
}
.movie-context .movie-overview {
  width: 30rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: 14px;
  color: darkslategray;
}
.movie-rating-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.movie-rating {
  display: flex;
  background: black;
  align-items: center;
  padding: 3px 5px;
  border-radius: 2px;
  gap: 5px;
}
.movie-rating .star-icon {
  color: rgb(245, 197, 24);
  width: 16px;
  height: 16px;
}
.movie-rating span {
  color: white;
  font-size: 15px;
}
